*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(210, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.wrapper {
    background-color: white;
    display: flex;
    height: 80%;
    width: 80%;
    border-radius: 40px;
    box-shadow: 10px 10px 60px #747373;
}


.menu {
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
    margin: 15px;
    width: 27%;
    height: auto;
}


.title {
    color: #9b2499;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Alkatra', cursive;
}

.list {
    background-color: pink;
    margin: 10px;
    border-radius: 10px;
    height: auto;
    width: auto;
    padding-bottom: 5px;
}

.deskripsi {
    color: #9b2499;
    padding-left: 8px;
    padding-top: 5px;
    font-size: 13px;
    font-family: 'Alkatra', cursive;
}

.newlist {
    margin: 4px;
    padding: 5px;
    width: 95%;
    height: auto;
    text-align: left;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-family: 'Alkatra', cursive;
}

.newlist:hover {
    background-color:rgb(230, 174, 182) ;
}

.task {
    background-color: pink;
    margin: 10px;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding-bottom: 5px;
}

.container-2 {
    height: 100%;
    width: 70%;
}

.content {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 76%;
    border-radius: 20px;
    width: auto;
    margin-right: 30px;
    margin-top: 30px;
    background-color:  rgb(223, 223, 223);
}

.judul{
    color: #9b2499;
    margin-left: 10px;
    display: flex;
    font-family: 'Alkatra', cursive;
    font-size: 50px;
}




#content-new {
    height: 300px;
    width: 500px;
    font-family: 'Alkatra', cursive;
}   

.text {
    display: flex;
    position: fixed;
    width: 40%;

}

#input {
    border: none;
    border-bottom-left-radius: 10px;
    width: 87%;
    height: 40px;
    padding-left: 20px;
}

#btn {
    border: none;
    width: 55px;
    border-bottom-right-radius: 10px;
    height: 40px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#btn:hover {
    background-color:rgb(230, 174, 182)
}

#list {
    width: 100%;
    height: 250px;
    overflow: scroll;
    overflow: auto;
    background-color: rgb(230, 174, 182);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 20px;
}